{% extends "healtharchive/base.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" type="text/css" href="{% static 'healtharchive/animal_disease_archive.css' %}">
{% endblock %}

{% block title %}
Wounded/Animal_Disease_Archive_
{% endblock %}

{% block content %}
<div class="sec1">
<img class="i" src="{% static 'healtharchive/animal_disease_archive.png' %}">
</div>
<br>

<div class="sec2">
<a style="color: transparent;" href="{% url 'animal' %}"><div class="go-behind" title="go back_"><b><</b></div></a>
<a style="color: transparent;" href="{% url 'home' %}"><div class="go-home" title="go home_"><b><<</b></div></a>
</div>

<br>
<div class="sec3">
	{% for ada in animaldiseasearchive %}
		<a class="btn case" data-toggle="collapse" href="#collapse{{ forloop.counter0 }}" role="button" aria-expanded="false" aria-controls="collapse{{ forloop.counter0 }}">
	    	<p>{{ ada.name }}_</p>
		</a>
		<div class="collapse" id="collapse{{ forloop.counter0 }}">
	  		<div class="card card-body">
	  			<p style="position: absolute; right: 10px; top: 2px;">click and drag the bottom-right to resize_</p>
	  			<br>
	  			<br>

	  			{% if ada.img != "" %}
	  				<img class="collapse-img" src="{{ ada.img.url }}" alt="{{ ada.name }}" width="">
	  			{% endif %}

	  			{% if ada.solution != "" %}
	    			<p><strong>Solution : </strong><br>{{ ada.solution | safe | linebreaks }}</p>
	    		{% endif %}

	    		{% if ada.description != "" %}
	    			<p><strong>Description : </strong><br>{{ ada.description | safe | linebreaks }}</p>
	    		{% endif %}
	  		</div>
		</div>
	{% endfor %}
</div>
{% endblock %}