{% extends "healtharchive/base.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" type="text/css" href="{% static 'healtharchive/onlinesale.css' %}">
{% endblock %}

{% block title %}
Wounded/Sale : Find appropriate products for your requirements with a long range of prizes and varity for you to choose from here according to your comfort.
{% endblock %}

{% block content %}
<div class="sec1">
<img class="i" src="{% static 'healtharchive/amazon_products.png' %}">
</div>
<br>

<div class="sec2">
<p style="padding: 5px;">Long range of prizes and huge variety of products are provided for you to choose from.<br>This is a shortcut to the products that are not only useful and efficient but also available in stock of the amazon inventory. <br>As much quick as these products are sold out, that much quicker is the stock inventory of amazon restocked. The products are listed as 'low'-'reasonable'-'expensive' in terms of cost.<br>Go through the links and find the products that are or can be useful to you sooner_<br>Also if you are having not-a-good-day or are stressed out, then shopping can reduce your negative emotions by releasing dopamine.<br>Enjoy !</p>

<a style="color: transparent;" href="{% url 'home' %}"><div class="go-home" title="go home_"><b><<</b></div></a>

</div>

<br>

<div class="sec3">
	<script type="text/javascript" language="javascript">
	  var aax_size='300x250';
	  var aax_pubname = 'quicknurse-21';
	  var aax_src='302';
	</script>
	<script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
</div>

<br>

<div class="sec3">

	<strong><h4>Collection 1</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B08G51JVXM&asins=B08G51JVXM&linkId=5dc7f02f18acfe71669080b6af487eba&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B08NJCFDZK&asins=B08NJCFDZK&linkId=8ad066cea4c358713fae455b2f2a49b6&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07Z18XGQQ&asins=B07Z18XGQQ&linkId=08ff38020ee7a07b9e6a66a7b2bd406b&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B01G3NUDI6&asins=B01G3NUDI6&linkId=cf696b9dc5a175f9fab93d4fb758486d&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07P9HC4TZ&asins=B07P9HC4TZ&linkId=bf720c149308aff65942d20d6d02dd45&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07P61WRG1&asins=B07P61WRG1&linkId=f19bf5c859ec3e522be9e8eee22aacfe&show_border=true&link_opens_in_new_window=true"></iframe>

    </div>

    <br>
    <br>

    <strong><h4>Collection 2</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07R53DTRD&asins=B07R53DTRD&linkId=96004e67fafe37e21c902a3927847bb0&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07TGPHXRK&asins=B07TGPHXRK&linkId=970010967130ba8ce385cf79d3f9791a&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07D4HMLR4&asins=B07D4HMLR4&linkId=74ce6f07b69477002f520c3163a17664&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07TM2YL8D&asins=B07TM2YL8D&linkId=56b349c5456859c5016a038839fdd6d9&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B084X8F4SH&asins=B084X8F4SH&linkId=78a62ea55f9b3ec0e97b7a7aa3d5343b&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B078WVY5YG&asins=B078WVY5YG&linkId=65fba7a85e575358bcd82230c7175462&show_border=true&link_opens_in_new_window=true"></iframe>

	</div>

	<br>
    <br>

    <strong><h4>Collection 1</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B081RNMJYK&asins=B081RNMJYK&linkId=c306e751857f756719a16eb64ffa1f03&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07WRL92FH&asins=B07WRL92FH&linkId=3a6ab06eb65b811ca531d85d63507649&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07FQMLR4Q&asins=B07FQMLR4Q&linkId=e3ce36c42a620be2c9cc84f30ea35d61&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07QBF8LGS&asins=B07QBF8LGS&linkId=40e6b735edeaafb8dacc245c4fa89473&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B081VNSQKS&asins=B081VNSQKS&linkId=d1e24ef1f6bcb06c8fa2eeda47c95cb6&show_border=true&link_opens_in_new_window=true"></iframe>

	</div>

	<br>
    <br>

    <strong><h4>Collection 2</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B086RKK5NW&asins=B086RKK5NW&linkId=2ad427a32290f4ad35c02d6fe8d25b56&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B083KL2WJ3&asins=B083KL2WJ3&linkId=c03cb45f3ac3b8c9e34c7888562676ae&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B071KP4BTD&asins=B071KP4BTD&linkId=5489c221cf6c123ebcf55c0c2f84f969&show_border=true&link_opens_in_new_window=true"></iframe>

	</div>

	<br>
    <br>

    <strong><h4>Collection 1</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07LG14VD7&asins=B07LG14VD7&linkId=4436a424b88ae40fe7748f861f926206&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07XGRYK2N&asins=B07XGRYK2N&linkId=32841217cbc465729577f0ab8122a3d9&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07MC3PS6T&asins=B07MC3PS6T&linkId=f7bcd122a4a009473c37607cf9a6d83b&show_border=true&link_opens_in_new_window=true"></iframe>

	</div>

	<br>
    <br>

	<strong><h4>Collection 2</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B082NHMNBH&asins=B082NHMNBH&linkId=0699751905d83295eb5f54966d3c9900&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07RWLT56D&asins=B07RWLT56D&linkId=46a211577906398e0125afbdbc0dea33&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B08JTZ476R&asins=B08JTZ476R&linkId=664edcb2d7c295ef66dd7d09e3b71fba&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07XPP6QPX&asins=B07XPP6QPX&linkId=ba2792380472630146ab09080529d5ea&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07MKJHXF7&asins=B07MKJHXF7&linkId=6a9a6f2b47ab9329f54994da24a81393&show_border=true&link_opens_in_new_window=true"></iframe>

		<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=quicknurse-21&language=en_IN&marketplace=amazon&region=IN&placement=B07X75GWY7&asins=B07X75GWY7&linkId=9cfcb3f051d50b0add48f738e36d1fdb&show_border=true&link_opens_in_new_window=true"></iframe>

    </div>

	<br>
    <br>

    <!-- <strong><h4>Collection 1</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">
	</div>

	<br>
    <br>

    <strong><h4>Collection 2</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">
	</div>

	<br>
    <br>

    <strong><h4>Collection 1</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">
	</div>

	<br>
    <br>

	<strong><h4>Collection 2</h4></strong>
	<p>Buy any or all of them_</p>
	<p>visit the links to find related items_</p>
	<div class="collection">
</div> -->

</div>
{% endblock %}